body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

section {
  padding: 40px;
  display: none;
}

section.active {
  display: block;
}

input, button, textarea {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

button {
  background-color: #005b96;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question {
  margin: 20px 0;
  text-align: left;
  display: inline-block;
}
#brev{
top:200px;
display:none;
font-weight:bold;
font-size:15px;
color:grey;
position:relative;
left:5px;
padding:5px;
border-radius:10px;
border:2px solid blue;
box-shadow:1px 1px 5px black;
}
